@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'aeonic-bold';
  src: url('./fonts/aeonik-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'aeonic-light';
  src: url('./fonts/aeonik-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'aeonic-regular';
  src: url('./fonts/aeonik-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'aeonic-regular', sans-serif;
  color: #212025;
}